[Desktop Entry]
Name=Hyprland
Comment=An intelligent dynamic tiling Wayland compositor
Exec=Hyprland --config /home/maxx/.config/hypr/hyprland.conf
Type=Application
DesktopNames=Hyprland
Keywords=tiling;wayland;compositor;
